run 'tabpy' in the cmd pmpt after activating conda base
    the connection will be deployed on http://localhost:9004/

In [7]:
from tabpy.tabpy_tools.client import Client

client = Client('http://localhost:9004/')
client

In [26]:
def var_calc(vector):
    import numpy as np
    var_99 = abs(np.percentile(vector, 1))
    return var_99

In [27]:
client.deploy('CalcVaR', var_calc, 'Takes a vector, computes the 99 VaR and returns the value.', override = True)

In [29]:
client.get_endpoints()#['CalcVaR']

{'CalcVaR': {'version': 7, 'type': 'model', 'creation_time': datetime.datetime(2023, 9, 15, 18, 26, 30), 'description': 'Takes a vector, computes the 99 VaR and returns the value.', 'schema': None, 'dependencies': [], 'name': 'CalcVaR', 'last_modified_time': datetime.datetime(2023, 9, 18, 15, 43, 23)}}

In [28]:
x = [6.35, 6.40, 6.65, 8.60, 8.90, 9.00, 9.10]
client.query('CalcVaR', x)['response']

6.353

In [25]:
import numpy as np
np.percentile(x, 1)

6.353

In [31]:
import pandas as pd

dfs = []

sheets = ['Last Price (Hard Paste)', 'Volume (Hard Paste)', 'Open Interest (Hard Paste)']

for sheet_name in sheets:
    dfs.append(pd.read_excel(r"P:\KJ\Nymex Price Vol OI.xlsx", sheet_name, header = 3, usecols = list(range(54)), nrows = 57))

In [32]:
month_codes = []
for i in dfs:
    for j in list(i.columns[1:]):
        month_codes.append(j.replace('NG', '').replace('Comdty', '').lower())
    break

In [33]:
month_code_dict = dict(zip(list(dfs[0].columns[1:]), month_codes))
month_code_dict.update({'Dates' : 'as_of_date'})

In [34]:
for i in dfs:
    i.drop(index = [0,1], inplace = True)
    i.reset_index(drop = True, inplace = True)
    i.rename(columns = month_code_dict, inplace = True)
    i.as_of_date = pd.to_datetime(i.as_of_date).dt.date

In [35]:
dfs[0]

,as_of_date,q23,u23,v23,x23,z23,f24,g24,h24,j24,...,h27,j27,k27,m27,n27,q27,u27,v27,x27,z27
0,2023-07-03,2.709,2.702,2.784,3.169,3.597,3.82,3.752,3.486,3.178,...,3.934,3.384,3.339,3.439,3.54,3.57,3.533,3.628,3.845,4.203
1,2023-07-04,2.709,2.702,2.784,3.169,3.597,3.82,3.752,3.486,3.178,...,3.934,3.384,3.339,3.439,3.54,3.57,3.533,3.628,3.845,4.203
2,2023-07-05,2.657,2.643,2.73,3.129,3.555,3.783,3.718,3.454,3.149,...,3.907,3.374,3.329,3.429,3.53,3.56,3.523,3.618,3.835,4.193
3,2023-07-06,2.609,2.599,2.69,3.099,3.538,3.774,3.703,3.438,3.143,...,3.909,3.376,3.331,3.431,3.532,3.562,3.525,3.62,3.837,4.195
4,2023-07-07,2.582,2.57,2.66,3.073,3.516,3.752,3.682,3.416,3.127,...,3.955,3.422,3.377,3.477,3.578,3.608,3.571,3.666,3.883,4.241
5,2023-07-10,2.669,2.641,2.729,3.149,3.582,3.809,3.74,3.467,3.163,...,3.95,3.422,3.383,3.488,3.595,3.63,3.575,3.676,3.898,4.262
6,2023-07-11,2.731,2.692,2.778,3.194,3.619,3.836,3.764,3.494,3.189,...,3.971,3.446,3.409,3.517,3.626,3.664,3.611,3.715,3.939,4.306
7,2023-07-12,2.632,2.597,2.683,3.105,3.519,3.757,3.685,3.415,3.124,...,3.961,3.436,3.399,3.507,3.616,3.654,3.601,3.705,4.005,4.372
8,2023-07-13,2.545,2.534,2.628,3.063,3.481,3.731,3.661,3.397,3.11,...,3.906,3.381,3.344,3.452,3.561,3.599,3.546,3.65,3.95,4.317
9,2023-07-14,2.539,2.53,2.631,3.075,3.492,3.739,3.667,3.397,3.115,...,3.943,3.419,3.384,3.493,3.603,3.643,3.591,3.696,3.998,4.366
10,2023-07-17,2.512,2.504,2.606,3.028,3.441,3.685,3.614,3.338,3.068,...,3.933,3.409,3.374,3.484,3.594,3.634,3.582,3.688,3.99,4.358
11,2023-07-18,2.629,2.618,2.718,3.107,3.513,3.741,3.669,3.382,3.105,...,3.983,3.46,3.425,3.536,3.646,3.687,3.635,3.742,4.044,4.413
12,2023-07-19,2.603,2.585,2.684,3.081,3.486,3.71,3.634,3.345,3.073,...,3.971,3.448,3.414,3.525,3.635,3.677,3.625,3.733,4.035,4.405
13,2023-07-20,2.757,2.731,2.823,3.19,3.573,3.782,3.697,3.406,3.129,...,3.998,3.476,3.442,3.554,3.665,3.7,3.637,3.746,4.048,4.419
14,2023-07-21,2.713,2.707,2.809,3.193,3.595,3.804,3.716,3.434,3.148,...,4.016,3.494,3.46,3.572,3.683,3.718,3.655,3.764,4.066,4.437
15,2023-07-24,2.685,2.688,2.792,3.194,3.61,3.817,3.736,3.458,3.17,...,4.057,3.535,3.501,3.613,3.724,3.759,3.696,3.805,4.107,4.478
16,2023-07-25,2.73,2.747,2.858,3.271,3.677,3.879,3.796,3.513,3.208,...,4.071,3.549,3.515,3.627,3.738,3.773,3.71,3.819,4.121,4.492
17,2023-07-26,2.665,2.693,2.809,3.235,3.645,3.848,3.768,3.483,3.178,...,4.094,3.572,3.538,3.65,3.761,3.796,3.733,3.842,4.144,4.515
18,2023-07-27,2.492,2.595,2.714,3.142,3.56,3.765,3.696,3.43,3.136,...,4.085,3.563,3.529,3.641,3.752,3.787,3.724,3.833,4.135,4.506
19,2023-07-28,2.492,2.638,2.753,3.176,3.589,3.788,3.717,3.446,3.158,...,4.094,3.572,3.538,3.65,3.761,3.796,3.733,3.842,4.144,4.515
20,2023-07-31,2.492,2.634,2.741,3.143,3.563,3.783,3.711,3.441,3.152,...,4.069,3.534,3.484,3.596,3.707,3.742,3.679,3.788,4.09,4.461
21,2023-08-01,2.492,2.56,2.672,3.075,3.507,3.725,3.659,3.393,3.112,...,4.044,3.489,3.449,3.559,3.667,3.7,3.634,3.741,4.04,4.409
22,2023-08-02,2.492,2.477,2.586,2.998,3.442,3.668,3.607,3.346,3.068,...,4.063,3.486,3.446,3.556,3.664,3.697,3.631,3.738,4.037,4.406
23,2023-08-03,2.492,2.565,2.67,3.063,3.497,3.719,3.65,3.375,3.085,...,4.043,3.466,3.426,3.536,3.644,3.677,3.611,3.718,4.017,4.386
24,2023-08-04,2.492,2.577,2.681,3.075,3.514,3.737,3.666,3.387,3.092,...,4.044,3.474,3.434,3.544,3.652,3.685,3.619,3.726,4.025,4.394
25,2023-08-07,2.492,2.725,2.813,3.177,3.603,3.812,3.737,3.449,3.153,...,4.105,3.535,3.495,3.605,3.713,3.746,3.68,3.787,4.086,4.455
26,2023-08-08,2.492,2.777,2.864,3.243,3.678,3.876,3.798,3.499,3.192,...,4.101,3.532,3.5,3.603,3.712,3.746,3.681,3.792,4.089,4.459
27,2023-08-09,2.492,2.959,3.053,3.445,3.857,4.035,3.941,3.613,3.28,...,4.063,3.494,3.462,3.565,3.674,3.708,3.643,3.754,4.051,4.421
28,2023-08-10,2.492,2.763,2.87,3.301,3.752,3.947,3.858,3.534,3.218,...,4.048,3.479,3.447,3.55,3.659,3.693,3.628,3.739,4.036,4.406
29,2023-08-11,2.492,2.77,2.882,3.344,3.813,4.01,3.915,3.582,3.258,...,4.081,3.507,3.475,3.578,3.687,3.721,3.656,3.767,4.064,4.434
30,2023-08-14,2.492,2.795,2.898,3.364,3.845,4.041,3.946,3.607,3.261,...,4.061,3.471,3.439,3.542,3.651,3.686,3.621,3.736,4.035,4.411
31,2023-08-15,2.492,2.659,2.781,3.287,3.79,3.994,3.915,3.601,3.272,...,4.09,3.505,3.473,3.579,3.69,3.728,3.666,3.784,4.085,4.464
32,2023-08-16,2.492,2.592,2.726,3.215,3.725,3.932,3.855,3.541,3.213,...,4.1,3.515,3.484,3.59,3.701,3.739,3.677,3.795,4.096,4.476
33,2023-08-17,2.492,2.621,2.755,3.243,3.748,3.957,3.876,3.553,3.224,...,4.108,3.488,3.458,3.559,3.66,3.699,3.638,3.756,4.058,4.439
34,2023-08-18,2.492,2.551,2.691,3.166,3.678,3.898,3.815,3.502,3.182,...,4.106,3.481,3.453,3.555,3.656,3.696,3.635,3.753,4.056,4.437
35,2023-08-21,2.492,2.632,2.743,3.193,3.703,3.929,3.849,3.533,3.201,...,4.139,3.509,3.486,3.59,3.694,3.736,3.677,3.797,4.103,4.486
36,2023-08-22,2.492,2.56,2.652,3.106,3.617,3.859,3.784,3.478,3.148,...,4.125,3.49,3.469,3.574,3.68,3.723,3.665,3.787,4.094,4.479
37,2023-08-23,2.492,2.497,2.592,3.044,3.542,3.79,3.721,3.426,3.11,...,4.156,3.523,3.505,3.613,3.722,3.767,3.722,3.847,4.157,4.544
38,2023-08-24,2.492,2.519,2.636,3.093,3.565,3.813,3.738,3.436,3.125,...,4.099,3.449,3.426,3.538,3.648,3.695,3.651,3.777,4.137,4.577
39,2023-08-25,2.492,2.54,2.657,3.135,3.625,3.876,3.802,3.485,3.154,...,4.083,3.433,3.401,3.513,3.623,3.67,3.626,3.752,4.112,4.552
40,2023-08-28,2.492,2.579,2.665,3.106,3.576,3.824,3.749,3.437,3.123,...,4.072,3.422,3.39,3.502,3.612,3.659,3.615,3.741,4.101,4.541
41,2023-08-29,2.492,2.556,2.662,3.062,3.505,3.749,3.67,3.364,3.08,...,4.035,3.395,3.363,3.475,3.585,3.632,3.588,3.714,4.074,4.514
42,2023-08-30,2.492,2.556,2.796,3.181,3.613,3.831,3.753,3.426,3.135,...,4.075,3.45,3.418,3.53,3.64,3.687,3.643,3.769,4.129,4.569
43,2023-08-31,2.492,2.556,2.768,3.147,3.611,3.835,3.752,3.427,3.12,...,4.103,3.467,3.435,3.546,3.656,3.703,3.659,3.785,4.144,4.584
44,2023-09-01,2.492,2.556,2.765,3.111,3.548,3.785,3.71,3.4,3.109,...,4.084,3.448,3.415,3.526,3.635,3.682,3.638,3.763,4.122,4.561
45,2023-09-04,2.492,2.556,2.765,3.111,3.548,3.785,3.71,3.4,3.109,...,4.084,3.448,3.415,3.526,3.635,3.682,3.638,3.763,4.122,4.561
46,2023-09-05,2.492,2.556,2.582,2.991,3.453,3.706,3.634,3.328,3.052,...,4.048,3.411,3.378,3.489,3.597,3.644,3.599,3.724,4.083,4.521
47,2023-09-06,2.492,2.556,2.51,2.943,3.425,3.677,3.605,3.299,3.029,...,4.06,3.423,3.39,3.501,3.609,3.656,3.611,3.736,4.095,4.533
48,2023-09-07,2.492,2.556,2.579,2.958,3.421,3.675,3.602,3.302,3.038,...,4.043,3.406,3.373,3.484,3.592,3.639,3.594,3.719,4.078,4.516
49,2023-09-08,2.492,2.556,2.605,2.966,3.44,3.7,3.629,3.328,3.048,...,4.049,3.412,3.379,3.49,3.598,3.645,3.6,3.725,4.084,4.522
50,2023-09-11,2.492,2.556,2.608,2.937,3.408,3.674,3.604,3.313,3.036,...,3.981,3.356,3.323,3.434,3.542,3.589,3.544,3.669,4.028,4.458
51,2023-09-12,2.492,2.556,2.743,3.015,3.445,3.707,3.637,3.345,3.067,...,4.022,3.417,3.369,3.483,3.594,3.644,3.602,3.73,4.091,4.491
52,2023-09-13,2.492,2.556,2.68,2.987,3.436,3.684,3.61,3.317,3.046,...,4.064,3.464,3.416,3.53,3.641,3.691,3.649,3.777,4.142,4.547
53,2023-09-14,2.492,2.556,2.708,2.983,3.411,3.668,3.595,3.309,3.039,...,4.056,3.466,3.401,3.501,3.601,3.645,3.603,3.731,4.096,4.501
54,2023-09-15,2.492,2.556,2.646,2.936,3.347,3.593,3.524,3.242,2.987,...,4.02,3.42,3.38,3.48,3.579,3.622,3.58,3.707,4.071,4.476

In [36]:
df0 = dfs[0].melt(id_vars = ['as_of_date'], var_name = 'tenor', value_name = 'price')
df1 = dfs[1].melt(id_vars = ['as_of_date'], var_name = 'tenor', value_name = 'volume')
df2 = dfs[2].melt(id_vars = ['as_of_date'], var_name = 'tenor', value_name = 'open_interest')

In [37]:
base = pd.concat([df0, df1.iloc[:,-1], df2.iloc[:,-1]], axis = 1)
base.insert(0, 'ticker', 'NG')

In [40]:
import pyodbc 
cnxn = pyodbc.connect(
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=e360-db01;'
    r'DATABASE=Voltage;'
    r'Trusted_Connection=yes;'
)
query = 'select * from month_code_meta'
month_codes = pd.read_sql(query, cnxn)
month_codes.month_code = [month.lower() for month in month_codes.month_code]
month_codes

C:\Users\kjones\AppData\Local\Temp\ipykernel_20860\1835847113.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  month_codes = pd.read_sql(query, cnxn)

    month_code       tenor  start_date    end_date
0          f22  2022-01-01  2022-01-01  2022-01-31
1          f23  2023-01-01  2023-01-01  2023-01-31
2          f24  2024-01-01  2024-01-01  2024-01-31
3          f25  2025-01-01  2025-01-01  2025-01-31
4          f26  2026-01-01  2026-01-01  2026-01-31
..         ...         ...         ...         ...
199        z34  2034-12-01  2034-12-01  2034-12-31
200        z35  2035-12-01  2035-12-01  2035-12-31
201        z36  2036-12-01  2036-12-01  2036-12-31
202        z37  2037-12-01  2037-12-01  2037-12-31
203        z38  2038-12-01  2038-12-01  2038-12-31

[204 rows x 4 columns]

In [48]:
base.tenor = [tenor.strip() for tenor in base.tenor]
base

     ticker  as_of_date tenor  price  volume open_interest
0        NG  2023-07-03   q23  2.709   79618        168170
1        NG  2023-07-04   q23  2.709   79618        168170
2        NG  2023-07-05   q23  2.657  124912        165837
3        NG  2023-07-06   q23  2.609  109301        166887
4        NG  2023-07-07   q23  2.582  103593        166665
...     ...         ...   ...    ...     ...           ...
2910     NG  2023-09-11   z27  4.458       1           329
2911     NG  2023-09-12   z27  4.491       1           329
2912     NG  2023-09-13   z27  4.547       1           329
2913     NG  2023-09-14   z27  4.501       1           329
2914     NG  2023-09-15   z27  4.476       1           329

[2915 rows x 6 columns]

In [49]:
base.tenor[0]
# month_codes.month_code[0]

'q23'

In [51]:
merged_df = pd.merge(base, month_codes, left_on = ['tenor'], right_on = ['month_code'], how = 'left')

In [52]:
merged_df.to_csv(r'P:\Scott\KJ\Nymex OI_Vol_Px\cme_ng_activity.csv', index = False)